<div class="overlay">
    <div class="example-form">
        <form>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Usuario" [(ngModel)]="username" name="username" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput type="name" placeholder="Nombre" [(ngModel)]="name" name="name" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput type="lastname" placeholder="Apellido" [(ngModel)]="lastname" name="lastname" required>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="onSubmit()">Registrar</button>
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
        </form>
    </div>
</div>
