<form (ngSubmit)="submitForm()" fxLayout="column" fxLayoutAlign="center">


  <mat-form-field>
    <input matInput placeholder="Nombre" [(ngModel)]="nombreGrupo" name="nombreGrupo" required>
  </mat-form-field>
  <mat-form-field>
      <mat-label>Selecciona una categoria</mat-label>
      <mat-select [(ngModel)]="categoria" name="grupo">
        <mat-option *ngFor="let cat of categorias" [value]="cat.nombre">{{ cat.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>


  <button mat-raised-button color="primary" type="submit">Guardar</button>
</form>