
<form (ngSubmit)="submitForm()" fxLayout="column" fxLayoutAlign="center">
    <mat-form-field>
      <input matInput placeholder="Monto" [(ngModel)]="gasto.monto" name="monto" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Imagen" [(ngModel)]="gasto.imagen" name="imagen" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="gasto.fecha" name="fecha" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Grupo" [(ngModel)]="gasto.grupo" name="grupo" required>
      </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Carga Gasto" [(ngModel)]="gasto.cargaGasto" name="cargaGasto" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Realiza Gasto" [(ngModel)]="gasto.realizaGasto" name="realizaGasto" required>
    </mat-form-field>
  
    <!-- <mat-form-field>
      <input matInput placeholder="Tipo de División de Gasto" [(ngModel)]="gasto.tipoDivisionGasto" name="tipoDivisionGasto" required>
    </mat-form-field> -->
  
    <mat-form-field>
      <mat-label>Detalle de División de Gasto</mat-label>
      <mat-select [(ngModel)]="gasto.tipoDivisionGasto" name="tipoDivisionGasto" required>
        <mat-option value="1">Fijo</mat-option>
        <mat-option value="2">Porcentaje</mat-option>
        <mat-option value="3">Igual</mat-option>
      </mat-select>
    </mat-form-field>
    
    <div *ngIf="gasto.tipoDivisionGasto === '1'">
      <div *ngFor="let usuario of usuariosDelGrupo">
        <mat-form-field>
          Monto Fijo: <input matInput [(ngModel)]="usuario.valor" name="{{usuario.id}}" required>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="gasto.tipoDivisionGasto === '2'">
      <div *ngFor="let usuario of usuariosDelGrupo">
        <mat-form-field>
          Porcentaje: <input matInput [(ngModel)]="usuario.valor" name="{{usuario.id}}" required>
        </mat-form-field>
      </div>
    </div>
    
    <div *ngIf="gasto.tipoDivisionGasto === '3'">
      <p>El gasto se dividirá igualmente entre todos los usuarios.</p>
    </div>
    
    <!-- Agrega más campos según tus necesidades -->
  
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </form>